
<h1>レポート</h1>

<form action="/school/report/" method="get" >
  {{ report_objects.form }}
<p><input type="submit" value="指定した月の集計をみる"></p>
</form>

<br>
<h3>ジャンルと性別別</h3>
<table border="1">
  <tr>
    <th>ジャンル</th>
    <th>性別</th>
    <th>レッスン数</th>
    <th>受講者数</th>
    <th>売り上げ</th>
  </tr>
  {% for each_report_first in report_objects.summary_report_first %}
  <tr>
    <td>
      {% if each_report_first.category == 0 %}
        英語
      {% elif each_report_first.category == 1 %}
        プログラミング
      {% else %}
        ファイナンス
      {% endif %}
    </td>
    <td>
      {% if each_report_first.sex == 0 %}
        男
      {% else %}
        女
      {% endif %}
    </td>
    <td>{{each_report_first.lesson_count}}</td>
    <td>{{each_report_first.person_count}}</td>
    <td>{{each_report_first.price}}</td>
  </tr>
  {% endfor %}
</table>

<br>
<h3>ジャンルと年代別</h3>
<table border="1">
  <tr>
    <th>ジャンル</th>
    <th>性別</th>
    <th>年代</th>
    <th>レッスン数</th>
    <th>受講者数</th>
    <th>売り上げ</th>
  </tr>
  {% for each_report_second in report_objects.summary_report_second %}
  <tr>
    <td>
      {% if each_report_second.category == 0 %}
        英語
      {% elif each_report_second.category == 1 %}
        プログラミング
      {% else %}
        ファイナンス
      {% endif %}
    </td>
    <td>
      {% if each_report_second.sex == 0 %}
        男
      {% else %}
        女
      {% endif %}
    </td>
    <td>{{each_report_second.ages}}代</td>
    <td>{{each_report_second.lesson_count}}</td>
    <td>{{each_report_second.person_count}}</td>
    <td>{{each_report_second.price}}</td>
  </tr>
  {% endfor %}
</table>
