<h2>
  顧客追加
</h2>

<form action="{% url 'school:user_create' %}" method="post">
{% csrf_token %}
<p>
  <label>
    名前:
    <input type="text" name="new_user_name" value="{{person.name}}">
  </label>
</p>
<p>
  <label>
    性別:
    <select name="new_user_sex">
      <option value="{{person.sex.0}}">男</option>
      <option value="{{person.sex.1}}">女</option>
    </select>
  </label>
</p>
<p>
  <label>
    年齢:
    <input type="number" name="new_user_age" value="{{person.age}}">
  </label>
</p>
<input type="submit" value="登録">
</form>
